# By Ersit
# 22052023

stages:
  - publish
  - deploy

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA
  DOCKER_REGISTRY: docker-registry.odc.ci
  APP_NAME: can-2023
  DOCKER_HOST: tcp://docker:2375

publish:
  image: docker:latest
  stage: publish
  services:
    - docker:dind
  script:
    - docker build -t $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID .
    - docker login docker-registry.odc.ci -u odc-oda -pDigital1
    - docker push $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID

deploy:
  image: node:18
  stage: deploy
  tags:
    - liverun
    - odc
  script:
    - chmod og= $ID_RSA
    - apk update && apk add openssh-client
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login docker-registry.odc.ci -u odc-oda -pDigital1"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker container rm -f $APP_NAME || true"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker run -d -p 9200:9200 --name $APP_NAME $DOCKER_REGISTRY/$APP_NAME:$CI_PIPELINE_IID"

  environment:
    name: production
    url: http://217.182.139.100
  only:
    - main
